			<div class="spacer"></div>

			<div id="infos">
				<div class="general-info-collapser">&#9776; General Info &#9776;</div>

				
				<div class="general-info-main">
					<img src="" id="user-avatar" class="blockies-avatar" />
					<p class="display-name-zone">
						Hello <b><% if (typeof displayname != 'undefined' && displayname) { %><%= displayname %><% } %></b>
						- Level <%= userlevel %>
					</p>
					<p>&#127757;
						<% if (typeof consumptionrights != 'undefined') { %><%= consumptionrights %><% } %>
						<% if (typeof consumptionrightslastrefill != 'undefined' && consumptionrightslastrefill) { %>
							<% var timeBeforeRefill = new Date(new Date((parseInt(consumptionrightslastrefill) + 79200) * 1000) - new Date()); %>
							<% if (timeBeforeRefill < 0) { %>
								<b>(+5) - Free refill is available! Create a new pin to activate!</b>
							<% } else { %>
								<i>(free refill in <%= timeBeforeRefill.getUTCHours() + "h" + timeBeforeRefill.getUTCMinutes() + "m" %>)</i>
							<% } %>
						<% } %>
					</p>
					<div class="spacer"></div>
					<p>Click on map to create a new pin - <a href="https://cryptocarto.xyz/how-to/" target="_blank">Check how to use</a></p>
					
					<div id="user-keys">
						<label for="address">Address: </label>
						<input type="text" disabled="disabled" class="form-control" placeholder="..." name="address" id="address" 
						value="<% if (typeof address != 'undefined' && address) { %><%= address %><% } %>" />
						<br />
						<label for="privatekey">PrivateKey: </label>
						<input type="password" disabled="disabled" class="form-control" placeholder="..." name="privatekey" id="privatekey" 
						value="<% if (typeof privatekey != 'undefined' && privatekey) { %><%= privatekey %><% } %>" />
						<br />
						<button onclick="
							if ($('#privatekey').attr('type') == 'password') { $('#privatekey').attr('type', 'text') }
							else { $('#privatekey').attr('type', 'password') }">Show/Hide</button>
						<button onclick="window.location.href = '/save-user-info';">Save to disk</button>
						<button onclick="$('#user-keys').hide();$('#user-new-pk').show();$('#newprivatekey').focus()">Import other key</button>
						<button onclick="$('#user-keys').hide();$('#user-change-name').show();$('#newname').focus()">Change name</button>
					</div>
			
					<div id="user-new-pk">
						<form class="import-pk-form" action="/import-pk" method="post">
							<label for="privatekey">PrivateKey to import: </label>
							<input type="password" autocomplete="off" required="true" class="form-control" placeholder="0x..." name="newprivatekey" id="newprivatekey" />
							<br /><button type="submit">Import this private key</button>
							<button onclick="window.location.href = '/wipe-key';">Wipe current key</button>
							<button type="button" onclick="$('#user-keys').show();$('#user-new-pk').hide()">Cancel</button>
						</form>
					</div>
			
					<div id="user-change-name">
						<form class="change-name-form" action="/change-name" method="post">
							<label for="new-name">New name: </label>
							<input type="text" autocomplete="off" class="form-control" placeholder="name..." name="newname" id="newname" />
							<br /><button type="submit">Change your display name</button>
							<button type="button" onclick="$('#user-keys').show();$('#user-change-name').hide()">Cancel</button>
						</form>
					</div>

					CryptoCarto 2021 - Contract <a target="_blank" href="https://scope.klaytn.com/account/0xe3656452c8238334efdfc811d6f98e5962fe4461">0xe365...4461</a>
					(rev <a target="_blank" href="https://github.com/cryptocarto/cryptocarto/blob/8de892dd04f0349d5296bb4520b7b45a9f78a90a/contracts/CryptoCartoPinTokenContract.sol">8de892d</a>)

				</div>
			</div>

			<script>
				
				// Collapsers and auto hide for small displays
				if ((screen.width > 810)) {
					$('.user-info-collapser').click(function(){$('.user-info-main').toggle();});
					$('.tokens-info-collapser').click(function(){$('.tokens-info-main').toggle();});
					$('.general-info-collapser').click(function(){$('.general-info-main').toggle();});
				} else {
					$('.user-info-collapser').click(function(){$('.user-info-main').toggle();});
					$('.general-info-collapser').click(function(){
						$('.general-info-main').toggle();
						$('.tokens-info-main').hide();
					});
					$('.tokens-info-collapser').click(function(){
						$('.tokens-info-main').toggle();
						$('.general-info-main').hide();
					});
				}

				if (screen.width < 1200) {
					$('.user-info-main').hide();
				}

				if ((screen.width < 900) || (screen.height < 600)) {
					$('.general-info-main').hide();
					$('.welcome-information, .pin-explorer-main').css({"width": "70%", "margin-left":"-38%"});
				}

				if (screen.width < 600) {
					$('.tokens-info-main').hide();
					$('#tokens').css({ "max-width": "95%" });
					$('#teleport-zone').css({ "min-width": "" });
					$('.welcome-information, .pin-explorer-main').css({"width": "80%", "margin-left":"-42%"});
				}
			
				$('#user-avatar').attr("src", blockies.create({ seed: $('#address').val().toLowerCase() ,size: 8,scale: 3}).toDataURL());

			</script>
		</div>
	</body>
</html>
