<%- include('top') -%>
<div id="map"></div>

<img src="https://cryptocarto.xyz/wp-content/uploads/2019/11/CryptoCartoWithTextGray.png" id="logo-cryptocarto" />

<div id="user-info">
    <div>

        <div id="user-keys">
            <label for="address">Address: </label>
            <input type="text" disabled="disabled" class="form-control" placeholder="..." name="address" id="address" 
            value="<% if (typeof address != 'undefined' && address) { %><%= address %><% } %>" />
            <br />
            <label for="privatekey">PrivateKey: </label>
            <input type="password" disabled="disabled" class="form-control" placeholder="..." name="privatekey" id="privatekey" 
            value="<% if (typeof privatekey != 'undefined' && privatekey) { %><%= privatekey %><% } %>" />
            <button onclick="$('#privatekey').attr('type', 'text')">Show</button>
            <button onclick="$('#privatekey').attr('type', 'password')">Hide</button>
            <button onclick="$('#user-keys').hide();$('#user-new-pk').show()">Import other key</button>
            <p class="note">New address and private key are generated and saved in session if not already existing.</p>
        </div>

        <div id="user-new-pk">
            <form class="import-pk-form" action="import-pk" method="post">
                <label for="privatekey">PrivateKey to import: </label>
                <input type="text" class="form-control" placeholder="0x..." name="newprivatekey" id="newprivatekey" />
                <button type="submit">Import this private key</button>
            </form>
            <button onclick="$('#user-keys').show();$('#user-new-pk').hide()">Cancel</button>
        </div>

        <p>Click on the map to create a new pin on the blockchain</p>
        <p>Teleport to : 
            <button onclick="map.setView([48.8722,2.3321],16);">Paris</button>
            <button onclick="map.setView([37.5326,127.02461],16);">Seoul</button>
            <button onclick="map.setView([43.7331,7.420],16);">Monaco</button>
            <button onclick="map.setView([46.2043,6.1431],16);">Geneva</button>
        </p>
    </div>
</div>

<div id="board">
    <%- include('new-transaction') -%>
</div>

<% if (tokenIds.length) { %>
    <div id="tokens">
    <% if (typeof generalMessage != 'undefined' && generalMessage) { %>
        <p>Message: <%= generalMessage %></p>
    <% } %>
    <h2>Recent pins</h2>
    <% for(var i=0; i < tokenIds.length; i++) { %>
        <p class="token">
            Pin #<span id="token-<%= i %>-id"><%= allTokensData[tokenIds[i]][0] %></span><br />
            Owned by <a target="_blank" href="https://scope.klaytn.com/account/<%= allTokensData[tokenIds[i]][1] %>"><span id="token-<%= i %>-owner"><%= allTokensData[tokenIds[i]][1] %></span></a><br />
            Longitude: <span id="token-<%= i %>-longitude"><%= allTokensData[tokenIds[i]][2] / 10000 %></span>
            / Latitude: <span id="token-<%= i %>-latitude"><%= allTokensData[tokenIds[i]][3] / 10000 %></span><br />
            Message: <span id="token-<%= i %>-message"><%= allTokensData[tokenIds[i]][4] %></span><br />
            Timestamp: <span id="token-<%= i %>-timestamp"><%= allTokensData[tokenIds[i]][5] %></span><br />
        </p>
    <% } %>
    </div>
<% } %>

<script>
    var map = L.map('map').setView([48.8722,2.3321],16);
    L.tileLayer('http://map.cryptocarto.xyz/osm/{z}/{x}/{y}.png',{maxZoom:18, minZoom:15}).addTo(map);

    var nbTokens = parseInt(jQuery('.token').length);

    for (i = 0; i< nbTokens; i++) {
        lng = parseFloat(jQuery('#token-'+i+'-longitude').text());
        lat = parseFloat(jQuery('#token-'+i+'-latitude').text());

        date = new Date(parseInt(jQuery('#token-'+i+'-timestamp').text()) * 1000);
        dateText = date.toISOString();

        // Calculate tile coordinates
        n = 2 ** 18 // n = 2 ^ zoom
        xtile = n * ((lng + 180) / 360) // xtile = n * ((lon_deg + 180) / 360)
        ytile = n * (1 - (Math.log(Math.tan(lat / 180 * Math.PI) + (1/Math.cos(lat / 180 * Math.PI))) / Math.PI)) / 2

        popUpContent =  '<p id="popup-token-'+i+'">' +
                            '<span class="token-message">' + jQuery('#token-'+i+'-message').text() + '</span><br/>' +
                            '<span class="token-message-author">by <a target="_blank" href="https://scope.klaytn.com/account/' + jQuery('#token-'+i+'-owner').text() + '">' + jQuery('#token-'+i+'-owner').text().substring(0,10) + '...</a></span><br/><br/>' +
                            '<button onclick="$(\'#popup-token-'+i+'\').next(\'.metadata\').slideToggle()">Show/hide metadata</button><br/>' +
                            '<p class="metadata">' +
                                'Pin #' + jQuery('#token-'+i+'-id').text() + '<br/>' +
                                'Longitude: ' + lng + ' / Latitude: ' + lat + '<br/>' +
                                'Created at ' + dateText + 
                                '<br/>' +'Tile coordinates: x = ' + xtile + ' ; y = ' + ytile +
                                '<br/>' +'<a target="_blank" href="http://app.cryptocarto.xyz/token/' + jQuery('#token-'+i+'-id').text() + '.png">View token image</a>' +
                            '</p>' +
                        '</p>';

        L.marker([lat,lng]).addTo(map).bindPopup(popUpContent);
    }

    function onMapClick(e) {
        var popup = L.popup()
            .setLatLng(e.latlng)
            .setContent(jQuery('.new-transaction').html())
            .openOn(map);

        $('.longitude').val(Math.round(e.latlng.lng * 10000)/10000);
        $('.latitude').val(Math.round(e.latlng.lat * 10000)/10000);

        map.setView(L.latLng(e.latlng.lat, e.latlng.lng));
    }

    map.on('click', onMapClick);

</script>

<%- include('bottom') -%>