<%- include('top') -%>
<div id="map"></div>

<img src="https://cryptocarto.xyz/wp-content/uploads/2019/11/CryptoCartoWithTextGray.png" id="logo-cryptocarto" />

<div id="user-info">
    <div class="user-info-collapser">&#9776; User Info &#9776;</div>
    <div class="user-info-main">
        <p>Click on map to create a new pin - <a href="https://cryptocarto.xyz/how-to/" target="_blank">Check how to use</a></p>
        <div id="user-keys">
            <label for="address">Address: </label>
            <input type="text" disabled="disabled" class="form-control" placeholder="..." name="address" id="address" 
            value="<% if (typeof address != 'undefined' && address) { %><%= address %><% } %>" />
            <br />
            <label for="privatekey">PrivateKey: </label>
            <input type="password" disabled="disabled" class="form-control" placeholder="..." name="privatekey" id="privatekey" 
            value="<% if (typeof privatekey != 'undefined' && privatekey) { %><%= privatekey %><% } %>" />
            <br />
            <button onclick="$('#privatekey').attr('type', 'text')">Show</button>
            <button onclick="$('#privatekey').attr('type', 'password')">Hide</button>
            <button onclick="window.location.href = '/save-user-info';">Save to disk</button>
            <button onclick="$('#user-keys').hide();$('#user-new-pk').show()">Import other key</button>
            <p class="note">
                A new blockchain account is generated and saved in session at your first visit.<br />
                Save your info, and re-use it with the "Import other key" feature when you come back!
            </p>
        </div>

        <div id="user-new-pk">
            <form class="import-pk-form" action="/import-pk" method="post">
                <label for="privatekey">PrivateKey to import: </label>
                <input type="text" autocomplete="off" required="true" class="form-control" placeholder="0x..." name="newprivatekey" id="newprivatekey" />
                <br /><button type="submit">Import this private key</button>
                <button onclick="$('#user-keys').show();$('#user-new-pk').hide()">Cancel</button>
            </form>
        </div>

        <p id="teleport-zone">
            Teleport to : 
            <button onclick="map.setView([48.8722,2.3321],16);">Paris</button>
            <button onclick="map.setView([37.5326,127.02461],16);">Seoul</button>
            <button onclick="map.setView([43.7331,7.420],16);">Monaco</button>
            <button onclick="map.setView([46.2043,6.1431],16);">Geneva</button>
            <br />
            ...or to 
            Latitude <input type="text" placeholder="Latitude" name="teleport-latitude" id="teleport-latitude" required="true" value="42.6886" />
            Longitude <input type="text" placeholder="Longitude" name="teleport-longitude" id="teleport-longitude" required="true" value="2.8948" />
            <button onclick="map.setView([$('#teleport-latitude').val(),$('#teleport-longitude').val()],16);">Go</button>
        </p>
    </div>
</div>

<div id="board">
    <%- include('new-transaction') -%>
</div>

<% if (tokenIds.length) { %>
<div id="tokens">
    <div class="tokens-info-collapser">&#9776; Tokens Info &#9776;</div>
    <div class="tokens-info-main">
        <% if (typeof generalMessage != 'undefined' && generalMessage) { %>
            <p class="general-message">Message: <%= generalMessage %></p>
        <% } %>
        <% if (userTokenIds.length) { %>
            <h2>Your pins
            <% if (typeof address != 'undefined' && address) { %>
                <span class="note">
                    - browse on
                    <a class="orb-explorer" href="https://cypress.explore.bitcrystals.com/address/?address=<%= address %>" target="_blank">
                        Orb Explorer
                    </a>
                    or
                    <a class="orb-explorer" href="https://scope.klaytn.com/account/<%= address %>" target="_blank">
                        Klaytn Explorer
                    </a>
                </span>
            <% } %>
            </h2>
            
            <% for(var j=0; j < userTokenIds.length; j++) { %>
                <p class="user-token">
                    <img class="token-image" src="/token/<%= userTokensData[userTokenIds[j]][0] %>.png" onclick="markers[$(this).siblings('.user-pin-id').text()].openPopup(); map.setView(markers[$(this).siblings('.user-pin-id').text()].getLatLng(),16);"/>
                    <b><%= userTokensData[userTokenIds[j]][4] %></b><br/>
                    Pin #<span id="user-token-<%= j %>-id" class="user-pin-id"><%= userTokensData[userTokenIds[j]][0] %></span><br />
                    Latitude: <span id="user-token-<%= j %>-latitude" class="user-pin-lat"><%= userTokensData[userTokenIds[j]][2] / 10000 %></span>
                    / Longitude: <span id="user-token-<%= j %>-longitude" class="user-pin-lng"><%= userTokensData[userTokenIds[j]][3] / 10000 %></span><br />
                    Created at: <span id="user-token-<%= j %>-timestamp"><%= new Date(parseInt(userTokensData[userTokenIds[j]][5] * 1000)).toISOString() %></span>
                    <div class="spacer"></div>
                </p>
            <% } %>
        <% } %>
        <h2>Recent pins</h2>
        <% for(var i=0; i < tokenIds.length; i++) { %>
            <p class="token">
                    <% if (i < 20) { %>
                        <img class="token-image" src="/token/<%= allTokensData[tokenIds[i]][0] %>.png" onclick="markers[$(this).siblings('.global-pin-id').text()].openPopup(); map.setView(markers[$(this).siblings('.global-pin-id').text()].getLatLng(),16);" />
                    <% } else { %>
                        <img class="token-default-image" src="/leaflet/images/marker-icon-2x.png" onclick="markers[$(this).siblings('.global-pin-id').text()].openPopup(); map.setView(markers[$(this).siblings('.global-pin-id').text()].getLatLng(),16);" />
                    <% } %>

                <b><span id="token-<%= i %>-message"><%= allTokensData[tokenIds[i]][4] %></span></b><br/>
                Pin #<span id="token-<%= i %>-id" class="global-pin-id"><%= allTokensData[tokenIds[i]][0] %></span><br />
                Owned by <a target="_blank" href="https://cypress.explore.bitcrystals.com/address/?address=<%= allTokensData[tokenIds[i]][1] %>"><%= allTokensData[tokenIds[i]][1].substring(0,10) %>...<%= allTokensData[tokenIds[i]][1].substring(34,42) %></a><span id="token-<%= i %>-owner" class="token-owner-fulladdress"><%= allTokensData[tokenIds[i]][1] %></span>
                (<a target="_blank" href="https://scope.klaytn.com/account/<%= allTokensData[tokenIds[i]][1] %>">details</a>)<br />
                Latitude: <span id="token-<%= i %>-latitude" class="global-pin-lat"><%= allTokensData[tokenIds[i]][2] / 10000 %></span>
                / Longitude: <span id="token-<%= i %>-longitude" class="global-pin-lng"><%= allTokensData[tokenIds[i]][3] / 10000 %></span><br />
                Created at: <span id="token-<%= i %>-timestamp"><%= new Date(parseInt(allTokensData[tokenIds[i]][5] * 1000)).toISOString() %></span>
                <div class="spacer"></div>
            </p>
            <div class="spacer"></div>
        <% } %>
        <% if (typeof currentlat != 'undefined' && currentlat) { %>
            <p>Last known latitude: <span id="currentlat"><%= currentlat %></span></p>
        <% } %>
        <% if (typeof currentlng != 'undefined' && currentlng) { %>
            <p>Last known longitude: <span id="currentlng"><%= currentlng %></span></p>
        <% } %>
        <% if (typeof openPinId != 'undefined' && openPinId) { %>
            <p>Pin ID requested: <span id="viewPinId"><%= openPinId %></span></p>
        <% } %>
    </div>
</div>
<% } %>

<script>
    var map = L.map('map').setView([parseFloat(jQuery('#currentlat').text()),parseFloat(jQuery('#currentlng').text())],16);
    var rectangleToReserve = null;

    L.tileLayer('https://map.cryptocarto.xyz/osm/{z}/{x}/{y}.png',{maxZoom:18, minZoom:15}).addTo(map);

    var nbTokens = parseInt(jQuery('.token').length);
    var markers = new Array;

    for (i = 0; i< nbTokens; i++) {
        lat = parseFloat(jQuery('#token-'+i+'-latitude').text());
        lng = parseFloat(jQuery('#token-'+i+'-longitude').text());

        // Calculate tile coordinates
        n = 2 ** 18 // n = 2 ^ zoom
        xtile = n * ((lng + 180) / 360) // xtile = n * ((lon_deg + 180) / 360)
        ytile = n * (1 - (Math.log(Math.tan(lat / 180 * Math.PI) + (1/Math.cos(lat / 180 * Math.PI))) / Math.PI)) / 2

        popUpContent =  '<div id="popup-token-'+i+'">' +
                            '<span class="token-message">' + jQuery('#token-'+i+'-message').text() + '</span><br/>' +
                            '<span class="token-message-author">by <a target="_blank" href="https://cypress.explore.bitcrystals.com/address/?address=' + jQuery('#token-'+i+'-owner').text() + '">' + 
                                jQuery('#token-'+i+'-owner').text().substring(0,10) + '...' + jQuery('#token-'+i+'-owner').text().substring(34,42) + '</a>' + 
                            '</span><br/><br/>' +
                            '<button onclick="$(\'#popup-token-'+i+'\').children(\'.metadata\').slideToggle()">Show/hide metadata</button>' +
                            '<button onclick="$(\'#popup-token-'+i+'\').children(\'.share-pin\').slideToggle()">Share this pin</button><br/>' +
                            '<div class="share-pin">' +
                                '<br />Shareable link: <a target="_blank" href="https://app.cryptocarto.xyz/view-pin/' + jQuery('#token-'+i+'-id').text() + '">https://app.cryptocarto.xyz/view-pin/' + jQuery('#token-'+i+'-id').text() + '</a><br/>' + 
                                '<textarea id="share-link" class="share-link">https://app.cryptocarto.xyz/view-pin/' + jQuery('#token-'+i+'-id').text() + '</textArea>' +
                                '<a class="button-style" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=app.cryptocarto.xyz/view-pin/' + jQuery('#token-'+i+'-id').text() + '">Share on Facebook</a>' +
                                '<button onclick="document.getElementById(\'share-link\').select(); document.execCommand(\'copy\'); $(\'#copied-message-conf\').show().fadeOut(2000);">Copy link to clipboard</button>' +
                                '<span id="copied-message-conf"> Copied</span>' +
                            '</div>' +
                            '<div class="metadata">' +
                                '<br />Pin #' + jQuery('#token-'+i+'-id').text() + '<br/>' +
                                'Latitude: ' + lat + ' / Longitude: ' + lng + '<br/>' +
                                'Created at ' + jQuery('#token-'+i+'-timestamp').text() + 
                                '<br/>' +'Tile coordinates: x = ' + xtile + ' ; y = ' + ytile +
                                '<br/>' +'<a target="_blank" href="/token/' + jQuery('#token-'+i+'-id').text() + '.png">View token image</a>' +
                                '<br/>' +'<a target="_blank" href="/token-metadata/' + jQuery('#token-'+i+'-id').text() + '">View token metadata JSON</a>' +
                            '</div>' +
                        '</div>';

        markers[jQuery('#token-'+i+'-id').text()] = L.marker([lat,lng]).addTo(map).bindPopup(popUpContent);

        // Open popup if view-pin was called
        if (jQuery('#viewPinId') && jQuery('#viewPinId').text() == jQuery('#token-'+i+'-id').text()) {
            markers[jQuery('#token-'+i+'-id').text()].openPopup();
        }

        // Create a rectangle for the reserved spot around the pin
        L.rectangle([[lat-0.00005,lng-0.00005], [lat+0.00005,lng+0.00005]], {color: '#4054b2', weight: 1}).addTo(map).bindPopup(popUpContent);
    }

    function onMapClick(e) {

        if (rectangleToReserve) {
            map.removeControl(rectangleToReserve);
        }

        var popup = L.popup()
            .setLatLng(e.latlng)
            .setContent(jQuery('.new-transaction').html())
            .openOn(map);
        
        lat = Math.round(e.latlng.lat * 10000)/10000;
        lng = Math.round(e.latlng.lng * 10000)/10000;

        // Create a rectangle for the spot to reserve around the click zone
        rectangleToReserve = L.rectangle([[lat-0.00005,lng-0.00005], [lat+0.00005,lng+0.00005]], {color: '#00961e', weight: 1}).addTo(map);

        $('.latitude').val(lat);
        $('.longitude').val(lng);
        $('#currentlat').text(lat);
        $('#currentlng').text(lng);

        $('.leaflet-popup').find("textarea").focus()

        // Set map center, shifted by a Y factor depending on screen height
        shiftFactor = 0.1
        if (screen.height < 500) { shiftFactor = 0.25 }
        else if (screen.height < 600) { shiftFactor = 0.20 }
        else if (screen.height < 800) { shiftFactor = 0.15 }

        coordinates = map.project(e.latlng, map.getZoom());
        coordinates.y -= map.getSize().y * shiftFactor;
        map.setView(map.unproject(coordinates));
    }

    map.on('click', onMapClick);

    // Collapsers and auto hide for small displays
    $('.user-info-collapser').click(function(){$('.user-info-main').toggle();});
    if (screen.width < 1200) {$('.user-info-main').toggle();}
    $('.tokens-info-collapser').click(function(){$('.tokens-info-main').toggle();});
    if (screen.width < 600) {
        $('.tokens-info-main').toggle();
        $('#tokens').css({ "max-width": "95%" });
    }

    // Transaction form validator
    checkTransactionForm = function() {
        if ($('.leaflet-popup').find(".new-transaction-form").valid()) {
            $('.leaflet-popup').find(".new-transaction-form").submit();
            $('.leaflet-popup').find(".submit-transaction").attr('disabled', true);
            $('.leaflet-popup').find('.loader').show();
        }
    };


</script>

<%- include('bottom') -%>