<%- include('top') -%>
<div id="map"></div>

<img src="https://cryptocarto.xyz/wp-content/uploads/2019/11/CryptoCartoWithTextGray.png" id="logo-cryptocarto" />

<%- include('user-info') -%>

<div id="board">
    <%- include('new-transaction') -%>
</div>

<div id="tokens">
    <div class="tokens-info-collapser">&#9776; Tokens Info &#9776;</div>
    <div class="tokens-info-main">
        <% if (typeof generalMessage != 'undefined' && generalMessage) { %>
            <p class="general-message">Message: <%= generalMessage %></p>
        <% } %>

        <% if (userTokenIds.length) { %>
            <%- include('user-token-list') -%>
        <% } %>

        <h2>Neighbour pins<span class="ajax-loader"><img src="/img/loader.gif" /> reloading...</span></h2>
        <%- include('neighbour-token-list') -%>

        <div class="spacer"></div>
        <p>
        <% if (typeof currentlat != 'undefined' && currentlat) { %>
            <p>Last known latitude: <span id="currentlat"><%= currentlat %></span></p>
        <% } %>
        <% if (typeof currentlng != 'undefined' && currentlng) { %>
            <p>Last known longitude: <span id="currentlng"><%= currentlng %></span></p>
        <% } %>
            Pin ID requested: 
            <span id="viewPinId"><% if (typeof openPinId != 'undefined' && openPinId) { %><%= openPinId %><% } %></span>
        </p>
    </div>
</div>

<%- include('map-scripts') -%>

<%- include('bottom') -%>