<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>CryptoCarto App Pre-Alpha</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="/leaflet/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
		<link rel="icon" href="/img/cropped-CryptoCarto-32x32.png" sizes="32x32" />
		<link rel="icon" href="/img/cropped-CryptoCarto-192x192.png" sizes="192x192" />
		<link rel="apple-touch-icon-precomposed" href="/img/cropped-CryptoCarto-180x180.png" />
		<script type="text/javascript" src="/leaflet/leaflet.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
<% if (typeof openPinId != 'undefined' && openPinId) { %>
		<meta property="og:title" content="View CryptoCarto Pin #<%= openPinId %>" />
		<meta property="og:url" content="https://app.cryptocarto.xyz/view-pin/<%= openPinId %>" />
		<meta property="og:image" content="https://app.cryptocarto.xyz/token/<%= openPinId %>.png" />
		<meta property="og:type" content="website" />
		<meta property="fb:app_id" content="" />
	<% if (typeof allTokensData[openPinId] != 'undefined' && allTokensData[openPinId]) { %>
		<meta property="og:description" content="This claimed spot is located at latitude <%= allTokensData[openPinId]['latitude'] / 10000 %> and longitude <%= allTokensData[openPinId]['longitude'] / 10000 %>.
		It displays the message '<%= allTokensData[openPinId]['message'] %>' and is owned by address <%= allTokensData[openPinId]['owner'] %>.
		Created at <%= new Date(parseInt(allTokensData[openPinId]['timestamp'] * 1000)).toISOString() %> with ID <%= openPinId %> on CryptoCarto." />
	<% } else { %>
		<meta property="og:description" content="View claimed spot with ID <%= openPinId %> on CryptoCarto." />
	<% } %>
<% } %>
	</head>
	<body>
