<h2>Your pins
    <% if (typeof address != 'undefined' && address) { %>
        <span class="note">
            - browse on
            <a class="orb-explorer" href="https://klaytn.orbexplorer.com/address/?address=<%= address %>" target="_blank">
                Orb Explorer
            </a>
            or
            <a class="orb-explorer" href="https://scope.klaytn.com/account/<%= address %>" target="_blank">
                Klaytn Explorer
            </a>
        </span>
    <% } %>
</h2>
    
<% for(var j=0; j < userTokenIds.length; j++) { %>
    <div class="user-token">
        <img class="token-image" src="/img/pin-token/<%= userTokensData[userTokenIds[j]]['tokenId'] %>.png" onclick="
            jQuery('#currentlat').text($(this).siblings('.token-data').children('.user-pin-lat').text());
            jQuery('#currentlng').text($(this).siblings('.token-data').children('.user-pin-lng').text());
            map.setView([$(this).siblings('.token-data').children('.user-pin-lat').text(), $(this).siblings('.token-data').children('.user-pin-lng').text()],16);
            jQuery('#viewPinId').text($(this).siblings('.token-data').children('.user-pin-id').text());
            loadPinTokens();"/>
        
        <p class="token-info">
            <b><%= userTokensData[userTokenIds[j]]['message'].substring(0,50) %><% if (userTokensData[userTokenIds[j]]['message'].length > 50) { %>...<% } %></b><br/>
            <% if (notEnoughRights) { %>
                <span class="unavailable" title="Not enough rights to transfer/update a token">Transfer / Modify</span>
            <% } else { %>
                <a class="transfer-link" onclick="
                    jQuery('#viewPinId').text($(this).parent().siblings('.token-data').children('.user-pin-id').text());
                    jQuery('#viewPinId').addClass('transfer')
                    map.setView([$(this).parent().siblings('.token-data').children('.user-pin-lat').text(), $(this).parent().siblings('.token-data').children('.user-pin-lng').text()],16);
                ">
                Transfer</a> / 
                <a class="modify-link" onclick="
                    jQuery('#viewPinId').text($(this).parent().siblings('.token-data').children('.user-pin-id').text());
                    jQuery('#viewPinId').addClass('modify')
                    map.setView([$(this).parent().siblings('.token-data').children('.user-pin-lat').text(), $(this).parent().siblings('.token-data').children('.user-pin-lng').text()],16);
                ">
                Modify</a>
            <% } %>
        </p>
        <div class="token-data">
            <b><%= userTokensData[userTokenIds[j]]['message'] %></b><br/>
            Pin #<span id="user-token-<%= j %>-id" class="user-pin-id"><%= userTokensData[userTokenIds[j]]['tokenId'] %></span> -
            Latitude: <span id="user-token-<%= j %>-latitude" class="user-pin-lat"><%= userTokensData[userTokenIds[j]]['latitude'] / 10000 %></span>
            / Longitude: <span id="user-token-<%= j %>-longitude" class="user-pin-lng"><%= userTokensData[userTokenIds[j]]['longitude'] / 10000 %></span><br />
            Created on <span id="user-token-<%= j %>-creation-timestamp"><%= new Date(parseInt(userTokensData[userTokenIds[j]]['creationTimestamp'] * 1000)).toUTCString() %></span><br />
            Created on <span id="user-token-<%= j %>-modification-timestamp"><%= new Date(parseInt(userTokensData[userTokenIds[j]]['modificationTimestamp'] * 1000)).toUTCString() %></span>
        </div>
    </div>
<% } %>

<div class="spacer"></div>